/* 头部模块 start */
.header h2{
    position: absolute;
    font-size: 19px;
    top: 37px;
    left: 199px;
}

.header .search-bar{
    left: auto;
    right: 0;
}
/* 头部模块 end */

/* 购物车商品结算模块 start */
.shoppingcar .title{
    color: #c81623;
    font-size: 16px;
    margin-bottom: 24px;
}

.shoppingcar .head_bar{
    width: 1198px;
    height: 34px;
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #666666;
}

.shoppingcar .head_bar input,
.shoppingcar .head_text_1 input,
.shoppingcar .head_text_2 input{
    margin: 0 8px;
}

.shoppingcar .head_bar p:nth-child(2){
    margin-right: 205px;
}

.shoppingcar .head_bar p:nth-child(3){
    margin-right: 337px;
}

.shoppingcar .head_bar p:nth-child(4){
    margin-right: 115px;
}

.shoppingcar .head_bar p:nth-child(5){
    margin-right: 115px;
}

.shoppingcar .head_bar p:nth-child(6){
    margin-right: 115px;
}

.shoppingcar .head_text_1,
.shoppingcar .head_text_2{
    width: 1200px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-top: 20px;
    border-bottom: 2px solid #dddddd;
    font-size: 12px;
}

.shoppingcar .head_text_1 div,
.shoppingcar .head_text_2 div{
    background-color: #c81623;
    color: #fff;
    width: 54px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}

.shoppingcar .head_text_1 p,
.shoppingcar .head_text_2 p{
    margin-left: 930px;
    color: #666666;
}

.shoppingcar .head_text_1 h2,
.shoppingcar .head_text_2 h2{
    margin-left: 9px;
    color: #c81623;
}

.shoppingcar .head_text_1 h5,
.shoppingcar .head_text_2 h5{
    font-size: 14px;
    color: #333333;
}

.shoppingcar .self_goods{
    width: 1198px;
    height: 651px;
    border: 1px solid #dddddd;
    margin-top: 20px;
}

.shoppingcar .self_goods .shopping_box{
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

.shoppingcar .self_goods .shopping{
    display: flex;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 12px;
}

.shoppingcar .self_goods .shopping input{
    margin-right: 15px;
}

.shoppingcar .self_goods .shopping img{
    width: 83px;
    height: 83px;
}

.shoppingcar .self_goods .shopping .describe{
    margin-left: 10px;
    width: 218px;
}

.shoppingcar .self_goods .shopping .describe p{
    font-size: 12px;
}

.shoppingcar .self_goods .shopping .describe p:first-child{
    color: #333333;
    margin-bottom: 9px;
    line-height: 22px;
}

.shoppingcar .self_goods .shopping .describe i{
    width: 17px;
    height: 17px;
    background-color: #c81623;
    text-align: center;
    line-height: 17px;
    color: #fff;
    font-size: 12px;
    float: left;
}

.shoppingcar .self_goods .shopping .describe p:last-child{
    color: #999999;
    margin-top: 12px;
    margin-left: 24px;
}

.shoppingcar .self_goods .shopping .scale{
    font-size: 12px;
    width: 152px;
    color: #333333;
    margin-left: 37px;
}

.shoppingcar .self_goods .shopping h2{
    font-size: 14px;
    color: #333333;
    margin-left: 94px;
    width: 51px;
}

.shoppingcar .self_goods .shopping .num{
    width: 95px;
    height: 28px;
    border: 1px solid #dddddd;
    display: flex;
}

.shoppingcar .self_goods .shopping .num .add,
.shoppingcar .self_goods .shopping .num .sub{
    width: 27px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}

.shoppingcar .self_goods .shopping .num .add{
    color: #c81623;
}

.shoppingcar .self_goods .shopping .num input{
    width: 24px;
    height: 28px;
    outline-style: none;
    border: 0;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.shoppingcar .self_goods .shopping .num_box{
    text-align: center;
    margin-left: 92px;
}

.shoppingcar .self_goods .shopping .num_box .tips{
    font-size: 12px;
    color: #999999;
    margin-top: 5px;
}

.shoppingcar .self_goods .shopping h1{
    font-size: 14;
    color: #333333;
    font-weight: 550;
    margin-left: 76px;
    width: 51px;
}

.shoppingcar .self_goods .shopping .opearate{
    margin-left: 115px;
}

.shoppingcar .self_goods .shopping .opearate p{
    font-size: 12px;
    color: #333333;
    margin-bottom: 9px;
}

.shoppingcar .self_goods .shopping_box .purchase{
    display: flex;
    font-size: 12px;
    margin-top: 11px;
    margin-left: 4px;
}

.shoppingcar .self_goods .shopping_box .purchase .b1{
    width: 44px;
    height: 18px;
    border: 1px solid #c81623;
    color: #c81623;
    text-align: center;
    line-height: 18px;
}

.shoppingcar .self_goods .shopping_box .purchase .explain,
.shoppingcar .self_goods .shopping_box .purchase .b3{
    display: flex;
}

.shoppingcar .self_goods .shopping_box .purchase .explain{
    margin-top: 4px;
    margin-left: 17px;
}

.shoppingcar .self_goods .shopping_box .purchase .explain p{
    color: #666666;
}

.shoppingcar .self_goods .shopping_box .purchase i{
    font-size: 10px;
    margin-top: 2px;
    margin-left: 3px;
}

.shoppingcar .self_goods .shopping_box .purchase .b2{
    width: 70px;
    height: 19px;
    background-color: #c81623;
    color: #fff;
    text-align: center;
    line-height: 19px;
    margin-left: 21px;
}

.shoppingcar .self_goods .shopping_box .purchase .b3{
    color: #666666;
    margin-top: 4px;
    margin-left: 6px;
}

.shoppingcar .self_goods .shopping_box .gift{
    font-size: 12px;
    color: #999999;
    margin-left: 64px;
    margin-top: 12px;
}

.shoppingcar .self_goods .shopping_box .gift p{
    margin-bottom: 10px;
}

.choose_bg{
    background-color: #feedef;
}

.second{
    height: 199px!important;
}

.shoppingcar .settle{
    position: relative;
    width: 1198px;
    height: 50px;
    border: 1px solid #dddddd;
    margin-top: 20px;
}

.shoppingcar .settle .leftbox{
    font-size: 12px;
    color: #666666;
    float: left;
    display: flex;
    margin-top: 19px;
}

.shoppingcar .settle .leftbox input{
    margin-top: 0px;
    width: 12px;
    height: 12px;
}

.shoppingcar .settle .leftbox p:nth-child(2){
    margin-left: 9px;
    margin-right: 19px;
}

.shoppingcar .settle .leftbox p:nth-child(4){
    margin: 0 13px;
}

.shoppingcar .settle .rightbox{
    float: right;
    font-size: 12px;
    margin-right: 141px;
    margin-top: 10px;
}

.shoppingcar .settle .rightbox strong{
    font-size: 16px;
    color: #e60012;
}

.shoppingcar .settle .rightbox .box_1 p:last-child{
    margin-left: 146px;
    margin-top: 5px;
}

.shoppingcar .settle .settle_box{
    position: absolute;
    width: 109px;
    height: 50px;
    background-color: #e60012;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.shoppingcar .follow h2{
    font-size: 12px;
    color: #333333;
    margin: 20px 0;
}

.shoppingcar .follow .follow_box li{
    width: 100%;
    height: 32px;
    background-color: #fffdee;
    margin-bottom: 20px;
}

.shoppingcar .follow .follow_box li p{
    font-size: 12px;
    color: #999999;
    float: left;
    line-height: 32px;
}

.shoppingcar .follow .follow_box li p:nth-child(1){
    width: 222px;
    margin-left: 16px;
    margin-right: 395px;
    cursor: pointer;
}

.shoppingcar .follow .follow_box li p:nth-child(2){
    margin-right: 143px;
}

.shoppingcar .follow .follow_box li p:nth-child(2),
.shoppingcar .follow .follow_box li p:nth-child(3){
    color: #333333;
}

.shoppingcar .follow .follow_box li p:nth-child(3){
    margin-right: 218px;
}

.shoppingcar .follow .follow_box li p:nth-child(4){
    margin-right: 18px;
    cursor: pointer;
}

.shoppingcar .follow .follow_box li p:nth-child(5){
    cursor: pointer;
}

/* 购物车商品结算模块 end */

/* 猜你喜欢 start */
.maybe_like{
    width: 1198px;
    height: 39px;
    border: 1px solid #dddddd;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

.maybe_like div{
    float: left;
    font-size: 12px;
    color: #333333;
    padding: 14px 20px;
}

.chose_box{
    background-color: #c81623;
    color: #fff!important;
}

.banner_goods{
    width: 1200px;
    margin-bottom: 20px;
}

.banner_goods img{
    margin-left: 39px;
}

.banner_goods div{
    width: 19px;
    height: 49px;
    background-color: #dddddd;
    margin-top: 118px;
    text-align: center;
    cursor: pointer;
}

.banner_goods .left_arrow{
    float: left;
}

.banner_goods .left_arrow i,
.banner_goods .right_arrow i{
    font-size: 35px;
    line-height: 49px;
    color: #fff;
}

.banner_goods .right_arrow{
    float: right;
}
/* 猜你喜欢 end */